body {
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: rgb(5, 1, 15);
}


.block-to-check {
    display: flex;
    margin:0 300px;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    height: 200px;
    background-color: rgb(15, 3, 47);
}

.awake-button {
    height: 30px;
    margin: 0 300px;
}