body {
    background-color: #ca4d4d;
}

.content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.hint {
    display: none;
    color: black;
    font-weight: bold;
    margin: 5px 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #987e7e;
    border-radius: 10px;
}

.result-button {
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.result-button:hover {
}
.result-button:active {
}
input {
    border: none;
    padding: 5px;
    border-radius: 5px;
}
input:focus{
    font-size: 15px;
    outline: none;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}



.switch {
    margin: 30px 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffd680;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


#lamp-picture {
    width: 300px;
    height: 300px;
    background-size: cover;
}





.radio-lamp {
    display: flex;
    flex-flow: column;
}

.radio-lamp label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.radio-lamp input {
    justify-self: right;
}


.lamp1-off {
    background-image: url("public/lamps/lamp1_off.png");
}
.lamp1-on {
    background-image: url("public/lamps/lamp1_on.png");
}
.lamp1-full {
    background-image: url("public/lamps/lamp1_full.png");
}
.lamp2-off {
    background-image: url("public/lamps/lamp2_off.png");
}
.lamp2-on {
    background-image: url("public/lamps/lamp2_on.png");
}
.lamp3-off {
    background-image: url("public/lamps/lamp3_off.png");
}
.lamp3-on {
    background-image: url("public/lamps/lamp3_on.png");
}


.traffic-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 300px;
    background-color: #282935;
    padding: 10px;
    border-radius: 10px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 0.5s ease;
}

.red.active {
    background-color: red;
}

.yellow.active {
    background-color: yellow;
}

.green.active {
    background-color: green;
}

.traffic-light-buttons {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clock {
    font-size: 40px;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink {
    font-family: 'Courier New', monospace;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.shop-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #987e7e;

}